# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
module_02/Matrix/01-Diagonale/MatriciQuadrateDiagonali/desktop.ini

module_02/Matrix/01-Diagonale/MatriciQuadrateDiagonali/.idea/desktop.ini

module_02/Matrix/01-Diagonale/MatriciQuadrateDiagonali/out/desktop.ini

module_02/Matrix/01-Diagonale/MatriciQuadrateDiagonali/out/production/MatriciQuadrateDiagonali/desktop.ini

module_02/Matrix/01-Diagonale/MatriciQuadrateDiagonali/src/desktop.ini

module_02/Matrix/01-Diagonale/MatriciQuadrateDiagonali/out/production/desktop.ini
